{% extends "base/base.html" %}
 {% load static %}
    {% block body %}


    <section class="main__error error">
        <div class="container">
            <div class="error__inner">
                <h1 class="error__title">
                    Login
                </h1>
                <p class="error__text">
                    WebFlow Community
                </p>
                <br>
                <br>
                <form class="error__search " method="post">
                    {% csrf_token %}
                    <div>
                        <input class="" type="text" name="username" placeholder="Username" required>
                    </div>
                    <br>
                    <div>
                        <input class="" type="password" name="password" placeholder="Password" required>
                    </div>
                    <br>
                    <br>
                    <div class="" style="display:flex; justify-content:center">
                        <button type="submit" class="error__link">
                        Login
                        </button>
                    </div>
                </form>
                
                <hr>
                <br>
                <br>
                <p class="error__subtext">
                    Create an Account - <a href="{% url "register_page" %}"> Register Here </a>
                </p>
            </div>
        </div>
    </section>


    {% endblock body %}
