{% extends "base/base.html" %}
 {% load static %}
    {% block body %}

    <section class="main__members members">
        <div class="container">
            <h1 class="members__title title">
                Members
            </h1>
            <div class="members__filters-panel filters-panel">
                <div class="filters-panel__tags tags">
                    <a class="tags__tag tags__tag--active" href="#">
                        All Members
                        <span>
                            {{total}}
                        </span>
                    </a>
                    
                </div>
                <form class="filters-panel__form filters-panel-form" action="#">
                    <div class="filters-panel-form__search search">
                        <button class="search__btn" type="button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11 19C15.4182 19 19 15.4183 19 11C19 6.58172 15.4182 3 11 3C6.58169 3 2.99997 6.58172 2.99997 11C2.99997 15.4183 6.58169 19 11 19Z"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M21 21L16.65 16.65" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <input class="search__input" type="text" placeholder="Search...">
                    </div>
                </form>
            </div>
            <div class="members__inner">

                {% for profile in profile %}
                <div class="members__card card">
                    <div class="card__inner">
                        <p class="card__suptext">
                           {{profile.designation}}
                        </p>
                        
                        <h3 class="card__title">
                            {{profile.name}}
                        </h3>
                        <a class="card__text" href="{% url "profile_page_output" profile.slug %}">
                            @{{profile.user}}
                        </a>
                        <br>
                        <p class="card__subtext">
                            Joined {{profile.joined}}
                        </p>
                        <div class="card__box card-box">
                            <div class="card-box__person-img card-person-img">
                                <img class="card-person-img__image" src="{{profile.image.url}}" alt="img">
                                <span class="card-person-img__status">

                                </span>
                            </div>
                            <a class="card-box__link" href="{% url "profile_page_output" profile.slug %}">
                                Send Message
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
           
        </div>
    </section>


    {% endblock body %}
